bin/
Bin/
obj/
Obj/
*.lock.json
*.Publish.xml
*Web.Publish.xml
ClientBin/
clientbin/
*.xap
*.user
*.gpState
*.resharper.user
*.suo
*.sln.cache
*.swp
*.*~
*~
_ReSharper.*/
*.sln.docstates
*.orig
combined.css
combined.js
*.diff
doc.shfbproj_*
ASPNETDB.MDF
aspnetdb_log.LDF
*log.txt*
[Tt]est[Rr]esult*
*TestResults/*
TestResult.xml
packages/
Packages/
*.tss
packages/*
Packages/*
*.rdl.data
*- Backup.rdl
UpgradeLog.htm
*.tmp
.vs/
appsettings.json
appsettings.environment.json
appsettings.environment_ec2.json
kestrelsettings.json
aws_creds.conf
generatedCerts/
launch[Ss]ettings.json

documentation

data.db
data.db-journal
generator.dat

*.pyc
*.log

tools/deploy/dev.yml

NebulaAPI.OrleansHost/*.txt
.vagrant
.vssbe

tools/certs/**/*.p12
*.pem

Nebula.sln.startup.json

Nebula.WebAdmin/wwwroot/css/site.min.css
Nebula.WebAdmin/wwwroot/js/*.min.js
*.css.map

.vscode

node_modules/
typings/
typings.json

.artifacts
nebula.yaml
.ssh.hosts
.ssh.pids

.venv

OrleansClient.xml
OrleansClient.docker.xml
OrleansServer.xml
OrleansServer.docker.xml
kestrelsettings.json

nebula_api_documentation.doxygen
